<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Exercise Test Suite">

    <test name="E2E Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.automationexercise.com"/>

        <classes>
            <class name="org.example.tests.account.SignupTest"/>
            <class name="org.example.tests.account.LoginTest"/>
            <class name="org.example.tests.purchase.DirectPurchaseTest"/>
            <class name="org.example.tests.purchase.DetailsPurchaseTest"/>
            <class name="org.example.tests.account.DeleteAccountTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

</suite>